-# required: space
= form_for([:dashboard, space], html: {class: 'ss-form direct-upload'} ) do |f|
  .form-group.row{class: error_class(space, :categories)}
    .col-md-3.text-right-md
      = f.label :category_ids, 'Type of Space', class: 'required'
    .col-md-9
      .row
        .col-xs-12
          - Category.active.each do |category|
            .checkbox
              %label
                - if space.category_ids.include?(category.id)
                  = check_box_tag 'space[category_ids][]', category.id, checked: true
                  = "#{category.name} #{category.description}"
                - else
                  = check_box_tag 'space[category_ids][]', category.id
                  = "#{category.name} #{category.description}"
      .row
        .col-xs-12
          = render 'shared/forms/error', resource: space, field: :categories

  .form-group.row{class: error_class(space, :classification)}
    .col-md-3.text-right-md
      = f.label :classification, 'Space Classification', class: 'required'
    .col-md-6
      = f.select :classification, classification_options, {}, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :classification

  .form-group.row{class: error_class(space, :name)}
    .col-md-3.text-right-md
      = f.label :name, 'Space Name', class: 'required'
    .col-md-6
      = f.text_field :name, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :name

  .form-group.row{class: error_class(space, :address1)}
    .col-md-3.text-right-md
      = f.label :address1, 'Address', class: 'required'
    .col-md-6
      = f.text_field :address1, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :address1

  .form-group.row{class: error_class(space, :address2)}
    .col-md-3.text-right-md
      = f.label :address2, 'Address 2'
    .col-md-6
      = f.text_field :address2, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :address2

  .form-group.row{class: error_class(space, :city)}
    .col-md-3.text-right-md
      = f.label :city_id, 'City', class: 'required'
    .col-md-6
      = f.select :city_id, grouped_options_for_select(city_options), {}, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :city

  .form-group.row{class: error_class(space, :zip_code)}
    .col-md-3.text-right-md
      = f.label :zip_code, class: 'required'
    .col-md-6
      = f.text_field :zip_code, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :zip_code

  .form-group.row{class: error_class(space, :phone)}
    .col-md-3.text-right-md
      = f.label :phone, 'Phone Number', class: 'required'
    .col-md-6
      = f.text_field :phone, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :phone

  .form-group.row{class: error_class(space, :capacity)}
    .col-md-3.text-right-md
      = f.label :capacity, 'Capacity', class: 'required'
    .col-md-6
      = f.select :capacity, capacity_options, {}, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :capacity

  .form-group.row
    .col-md-3.text-right-md
      = f.label :price, 'Price ($)', class: 'required'
    .col-md-3{class: error_class(space, :price_hourly)}
      = f.number_field :price_hourly, class: 'form-control', step: 1, min: 0, placeholder: 'Hourly'
      = render 'shared/forms/error', resource: space, field: :price_hourly
    .col-md-3{class: error_class(space, :price_daily)}
      = f.number_field :price_daily, class: 'form-control', step: 1, min: 0, placeholder: 'Daily'
      = render 'shared/forms/error', resource: space, field: :price_daily
    .col-md-3{class: error_class(space, :price_buyout)}
      = f.number_field :price_buyout, class: 'form-control', step: 1, min: 0, placeholder: 'Buyout'
      = render 'shared/forms/error', resource: space, field: :price_buyout

  .form-group.row{class: error_class(space, :amenities)}
    .col-md-3.text-right-md
      = f.label :amenities, class: 'required'
    .col-md-9
      .row
        - Space.amenities.each_slice(3) do |amenities_group|
          .col-md-4
            - amenities_group.each do |a|
              .checkbox
                %label
                  = f.check_box a, {}
                  = a.to_s.humanize
      .row
        .col-xs-12
          = render 'shared/forms/error', resource: space, field: :amenities


  .form-group.row{class: error_class(space, :availability)}
    .col-md-3.text-right-md
      = f.label :availability, class: 'required'
    .col-md-9
      .row
        - Space.days.each_slice(2) do |days_group|
          .col-md-3
            - days_group.each do |d|
              .checkbox
                %label
                  = f.check_box d, {}
                  = d.to_s.humanize
      .row
        .col-xs-12
          = render 'shared/forms/error', resource: space, field: :availability

  .form-group.row{class: error_class(space, :weekdays_availability_from, :weekdays_availability_to)}
    .col-md-3.text-right-md
      = f.label :weekdays_availability, class: 'required'
    .col-md-3
      = f.select :weekdays_availability_from, hours_options, {include_blank: 'N/A'}, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :weekdays_availability_from
    .col-md-3
      = f.select :weekdays_availability_to, hours_options, {include_blank: 'N/A'}, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :weekdays_availability_to

  .form-group.row{class: error_class(space, :weekend_availability_from, :weekend_availability_to)}
    .col-md-3.text-right-md
      = f.label :weekdend_availability, class: 'required'
    .col-md-3
      = f.select :weekend_availability_from, hours_options, {include_blank: 'N/A'}, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :weekend_availability_from
    .col-md-3
      = f.select :weekend_availability_to, hours_options, {include_blank: 'N/A'}, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :weekend_availability_to

  .form-group.row{class: error_class(space, :minimum_number_of_hours)}
    .col-md-3.text-right-md
      = f.label :minimum_number_of_hours, class: 'required'
    .col-md-3
      = f.select :minimum_number_of_hours, (1..24), {prompt: 'Select minimum # of Hours'}, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :minimum_number_of_hours

  .form-group.row{class: error_class(space, :special_note)}
    .col-md-3.text-right-md
      = f.label :special_note, 'Restrictions/Special Notes'
    .col-md-6
      = f.text_area :special_note, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :special_note

  .form-group.row{class: error_class(space, :website)}
    .col-md-3.text-right-md
      = f.label :website
    .col-md-6
      = f.text_field :website, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :website

  .form-group.row{class: error_class(space, :description)}
    .col-md-3.text-right-md
      = f.label :description, 'Space Description', class: 'required'
    .col-md-6
      = f.text_area :description, class: 'form-control'
      = render 'shared/forms/error', resource: space, field: :description

  .form-group.row{class: error_class(space, :space_pictures)}
    .col-md-3.text-right-md
      = f.label :space_pictures, class: 'required'
    .col-md-9
      = f.nested_fields_for :space_pictures do |ff|
        .row
          .col-xs-7
            - if ff.object.try(:persisted?)
              = image_tag ff.object.image.thumb.url
            - else
              = ff.file_field :remote_image_url, class: 'form-control'
          .col-xs-1
            = ff.remove_nested_fields_link
      = f.add_nested_fields_link :space_pictures
      %p.text-muted (Minimum of 3 photos required to publish your space)
      %p.text-warning * For best image quality, please upload images that are 760*390 or maintain this aspect ratio.
      = render 'shared/forms/error', resource: space, field: :space_pictures

  .text-right
    - if space.new_record?
      = f.submit 'ADD SPACE', class: 'btn btn-info'
    - else
      = f.submit 'UPDATE SPACE', class: 'btn btn-info'

:javascript
  $(document).ready(function() {
    $('.direct-upload').find('input:file').each(function(i, elem) {
      var fileInput    = $(elem);
      var form         = $(fileInput.parents('form:first'));
      var submitButton = form.find('input[type="submit"]');
      var progressBar  = $("<div class='progress-bar progress-bar-success'></div>");
      var barContainer = $("<div class='progress'></div>").append(progressBar);
      fileInput.after(barContainer);
      fileInput.fileupload({
        fileInput:        fileInput,
        url:              '#{@s3_direct_post.url}',
        type:             'POST',
        autoUpload:       true,
        formData:         #{@s3_direct_post.fields.to_json},
        paramName:        'file',
        dataType:         'XML',
        replaceFileInput: false,
        progressall: function (e, data) {
          var progress = parseInt(data.loaded / data.total * 100, 10);
          progressBar.css('width', progress + '%')
        },
        start: function (e) {
          submitButton.prop('disabled', true);
        },
        done: function(e, data) {
          submitButton.prop('disabled', false);
          progressBar.text('Uploading done');

          // extract key and generate URL from response
          var key = $(data.jqXHR.responseXML).find("Key").text();
          var fileUrl = 'http://#{URI.parse(@s3_direct_post.url).host}/' + key;

          // create hidden field
          var input = $('<input />', { type: 'hidden', name: fileInput.attr('name'), value: fileUrl })
          form.append(input);
        },
        fail: function(e, data) {
          submitButton.prop('disabled', false);

          progressBar.
            removeClass('progress-success').
            addClass('progress-danger').
            text('Failed');
        }
      });
    });
  })