.results-container
  .row
    = paginate spaces
  .row
    - spaces.each do |space|
      .col-md-6
        .space-card.shadow-border
          .space-picture
            %img.center-block.img-responsive{src: space.main_picture.try(:croped).try(:url)}
          .space-info.text-center
            = link_to("#{space.name} / #{space.city.try(:name)}", space_path(space.id), class: "name" )
            %p= "(#{space.classification.to_s.humanize})"
            %img.img-responsive.rating.center-block{src: asset_url("rating-#{space.rating.round}.png")}
            = "#{pluralize(space.reviews.count,'Review')}"
            %p
              %span.price
                = "$#{space.price_hourly}"
              \/hr
  .row
    = paginate spaces
