.container
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      %h2
        = @space.name
        %span.location
          = "(#{@space.city.name}, #{@space.city.state.name})"

      .carousel-container
        = render 'shared/carousel', id: 'space-slider', images: @space.space_pictures.map{ |p| p.image.croped.url }
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .space-detail.p20
        - if user_signed_in? && current_user != @space.owner
          %section.row
            .col-xs-12
              .pull-right
                %button.btn.btn-secondary.btn-lg{type: 'button', 'data-toggle': 'modal', 'data-target': "#contact-owner-modal"}
                  Contact the Owner
              #contact-owner-modal.modal.fade
                .modal-dialog
                  .modal-content
                    .modal-header
                      %button.close{type: 'button', 'data-dismiss': 'modal'}
                        %span
                          &times;
                      %h4 Contact The Owner of #{@space.name}
                    = form_for :message, url: messages_path do |f|
                      = f.hidden_field :space_id, value: @space.id
                      .modal-body
                        .form-group
                          = f.text_area :body, class: 'form-control'
                      .modal-footer
                        .pull-right
                          = f.submit 'Send', class: 'btn btn-secondary'
        - elsif !user_signed_in?
          %section.row
            .col-xs-12
              .pull-right
                = link_to 'Login to contact the Owner', new_user_session_path, class: 'btn btn-secondary btn-lg'
        %section.row
          .col-xs-12
            %h3.text-primary Summary
            - if @space.reviews.count > 0
              Rating:
              %img.img-responsive.rating.mb20{src: asset_url("rating-#{@space.rating.round}.png")}

          .col-md-6.col-xs-12
            = render 'shared/info_table', info: { 'Space Type': @space.categories.pluck(:name).join(', '),
              'Classification': @space.classification.to_s.humanize,
              'Capacity': capacity_humanized(@space.capacity),
              'Website': @space.website || 'N/A',
              'Location': "#{@space.full_address} </br> #{@space.city.name}, #{@space.city.state.name}"}
          .col-md-6.col-xs-12
            = render 'shared/info_table', info: { 'Hourly Price': number_to_currency(@space.price_hourly, precision: 0),
              'Minimum # of Hours ': @space.minimum_number_of_hours,
              'Daily Price': number_to_currency(@space.price_daily, precision: 0),
              'Buy Out Price': number_to_currency(@space.price_buyout, precision: 0)}
        %hr/

        %section.row
          .col-xs-12
            %h3.text-primary Amenities
          - Space.amenities.each_slice(3) do |group|
            .col-xs-4
              - group.each do |amenity|
                %p
                  - if @space.send("#{amenity}?")
                    %span.glyphicon.glyphicon-ok.bg-primary.p2
                  - else
                    %span.glyphicon.glyphicon-remove.text-muted.p2
                  = amenity.to_s.humanize
        %hr/

        %section.row
          .col-md-6.col-xs-12
            %h3.text-primary Availability
            = render 'shared/info_table', info: @space.formatted_availabilities
          .col-md-6.col-xs-12
            %h3.text-primary Note
            %p
              = @space.special_note.present? ? @space.special_note : 'N/A'
        %hr/

        %section.row
          .col-xs-12
            %h3.text-primary Space
            = @space.description
            - if @space.document?
              .mt20.mb20
                = link_to @space.document_url, class: 'btn btn-info', download: true do
                  %span.glyphicon.glyphicon-cloud-download
                  Additional info

          .col-xs-12
            %h3.text-primary Organization Description
            = @space.organization_description.present? ? @space.organization_description : 'N/A'

        %section.row
          .col-xs-12
            %h3.text-primary
              Reviews
            - if @space.reviews.count > 0
              Rating:
              %img.img-responsive.rating.mb20{src: asset_url("rating-#{@space.rating.round}.png")}
            - if user_signed_in? && current_user != @space.owner && !current_user.has_reviewed_space?(@space)
              = link_to 'Leave a review for this Space', new_space_review_path(@space), remote: true, class: 'btn btn-secondary mb20'
            - elsif !user_signed_in?
              = link_to 'Leave a review for this Space', new_space_review_path(@space), class: 'btn btn-secondary mb20'

            - if @space.reviews.count == 0
              %p.center-block This Space doesn't have reviews yet
            - @space.reviews.order('created_at DESC').each do |r|
              .panel{class: panel_class_for_rating(r.rating)}
                .panel-heading
                  .row
                    .col-xs-6
                      = r.user.full_name
                      %img.img-responsive.rating{src: asset_url("rating-#{r.rating}.png")}
                    .col-xs-6.text-right.text-muted
                      = l r.created_at, format: "%B %d"
                .panel-body
                  = r.text


