= render 'shared/carousel', id: 'home-slider', images: (0..4).map{ |i| "slider/slider-bg-#{i}.jpg" }

.discover-btn-container
  = link_to 'Discover your Space', spaces_path, class: 'btn btn-success btn-discover'

.search-space-form-container
  = render 'pages/search_spaces_form'

%section#how-it-works
  .container
    .row
      .div.col-xs-12.text-center
        %h2 How it Works
        %p
          %strong Skout and Connect
    .row
      .div.col-xs-12.col-md-4.text-center
        = image_tag "how-it-works-1.png"
        %h3 Discover
        %p
          %strong Enter your preferences
          and discover the wide range of venues your city has to offer.
      .div.col-xs-12.col-md-4.text-center
        = image_tag 'how-it-works-2.png'
        %h3 Connect
        %p
          %strong Connect
          with a local Space Owner through the site.
      .div.col-xs-12.col-md-4.text-center
        = image_tag 'how-it-works-3.png'
        %h3 View and Book
        %p
          %strong View and Book
          your event Space directly with the Space Owner.
%hr
%section#community-give-back
  .container
    .row
      .div.col-md-4.col-md-offset-4.col-xs-12.text-center
        .m20
          %h2 Community GiveBack
          %p
            %strong Every quarter, we donate 10% of proceeds to the community
          %p
            We believe in a strong community and through our Community GiveBack Program,
            we're investing in the people and services that make our neighborhoods so rich.
            Every quarter, we donate 10% of proceeds from every listing to a featured charity.

          = link_to 'Learn More', community_giveback_pages_path, class: 'btn btn-success btn-lg'
