%section.registration-form
  .container
    .row
      .col-xs-12.col-md-5.col-centered
        .form-wrapper
          %h3 Space Owner Registration
          %hr
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'ss-form', multipart: true} ) do |f|
            .form-group{class: error_class(resource, :business_name)}
              = f.label :business_name, class: 'required'
              = f.text_field :business_name, class: 'form-control'
              = render 'shared/forms/error', resource: resource, field: :business_name

            .row
              .col-xs-6.form-group{class: error_class(resource, :first_name)}
                = f.label :first_name, class: 'required'
                = f.text_field :first_name, class: 'form-control'
                = render 'shared/forms/error', resource: resource, field: :first_name

              .col-xs-6.form-group{class: error_class(resource, :last_name)}
                = f.label :last_name, class: 'required'
                = f.text_field :last_name, class: 'form-control'
                = render 'shared/forms/error', resource: resource, field: :last_name

            .form-group{class: error_class(resource, :phone)}
              = f.label :phone, class: 'required'
              = f.telephone_field :phone, class: 'form-control'
              = render 'shared/forms/error', resource: resource, field: :phone

            .form-group{class: error_class(resource, :email)}
              = f.label :email, class: 'required'
              = f.email_field :email, class: 'form-control'
              = render 'shared/forms/error', resource: resource, field: :email

            .form-group{class: error_class(resource, :password)}
              = f.label :password, class: 'required'
              = f.password_field :password, class: 'form-control'
              = render 'shared/forms/error', resource: resource, field: :password

            .form-group{class: error_class(resource, :avatar)}
              = f.label :avatar, 'Business Logo', class: 'required'
              = image_tag(resource.avatar.thumb.url) if resource.avatar?
              = f.file_field :avatar, class: 'form-control'
              = f.hidden_field :avatar_cache
              = render 'shared/forms/error', resource: resource, field: :avatar

            = f.submit 'REGISTER', class: 'btn btn-primary'

            %p.text-muted
              Already on SpaceSkout?
              = link_to 'login', new_user_session_path
