-# required: coupon_form
= form_tag validate_coupon_dashboard_plan_path(coupon_form.plan.id), method: 'GET', remote: true, id: "coupon-form-#{coupon_form.plan.id}" do
  .form-group{class: error_class(coupon_form, :coupon_code)}
    %input.form-control{type: 'text', name: 'coupon_code', value: coupon_form.coupon_code, placeholder: 'Enter a promo code'}
    = render 'shared/forms/error', resource: coupon_form, field: :coupon_code
  .text-right
    %button.btn.btn-default.skip{type: 'button'} Skip
    %input.btn.btn-success{type: 'submit', value: 'Use promo code'}

:javascript
  $(document).ready(function() {
    $("#coupon-form-#{coupon_form.plan.id} .skip").on('click', function(event) {
      event.preventDefault();
      $(event.target).prop('disabled', true);

      var handler = subscriptionStripeHandler(
        '#{coupon_form.plan.name}',
        #{coupon_form.price_with_discount_in_cents},
        '#{dashboard_plan_subscriptions_path(coupon_form.plan.id)}',
        null,
        '#{new_dashboard_space_path}',
        {
          closed: function() {
            $(event.target).prop('disabled', false);
          }
        }
      )
      handler.open({});
    });
  });