- if current_user.has_access_level?(:admin)
  = render 'dashboard/shared/navigation'
.container.plans-container
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      - @plans.each do |plan|
        .col-md-4
          .plan-box.flex-col-container
            .plan-box-heading.text-center
              %h3= plan.name
            .plan-box-content.full-height-flex
              %p.text-center
                = pluralize(plan.number_of_publications, 'Posting')
              %p.text-center
                = number_to_currency(plan.price, precision: 0)
              .additional-info
                = plan.additional_info.try(:html_safe)
            - if current_user.has_access_level?(:admin)
              = link_to 'Edit', edit_dashboard_plan_path(plan), class: 'btn btn-danger'
            %button.btn.btn-success.btn-block{type: 'button', 'data-toggle': 'modal', 'data-target': "#coupon-modal-#{plan.id}"}
              Select!
            .modal.fade{id: "coupon-modal-#{plan.id}"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{type: 'button', 'data-dismiss': 'modal'}
                      %span
                        &times;
                    %h4 Promo Code
                  .modal-body
  .row
    .col-xs-12.col-md-8.col-md-offset-2.text-center
      Receive 25% discount on Silver and Gold packages
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .text-center.text-muted.p50
        %p 10+ please contact #{mail_to 'info@spaceskout.com'}
        %p * 1 year expiration date from date of purchase
        %p * 30 day exchange policy

- @plans.each do |plan|
  :javascript
    $("#coupon-modal-#{plan.id}").on('show.bs.modal', function (event) {
      $("#coupon-modal-#{plan.id} .modal-body")
        .html('#{j(render("dashboard/plans/coupon_code_form", coupon_form: ::Plans::CouponForm.new(plan: plan)))}')
    });