.container
  .row
    .col-xs-12
      .m20
        %ul.nav.nav-tabs
          - user_type = current_user.class.name.underscore
          %li{class: params[:controller] == "#{user_type.pluralize}/registrations" ? 'active' : ''}
            = link_to 'Profile', send("edit_#{user_type}_registration_path")

          - if current_user.has_access_level?(:space_owner)
            %li{class: params[:controller] == 'dashboard/spaces' ? 'active' : ''}
              - if current_user.has_access_level?(:admin)
                = link_to 'Admin Spaces', dashboard_spaces_path
              - else
                = link_to 'Your Spaces', dashboard_spaces_path
          %li{class: params[:controller] == 'dashboard/messages' ? 'active' : ''}
            = link_to dashboard_messages_path do
              Inbox
              - if current_user.unread_inbox_count > 0
                %span.badge.inbox-unread-count= current_user.unread_inbox_count
          -# Admin
          - if current_user.has_access_level?(:admin)
            %li{class: params[:controller] == 'dashboard/charities' ? 'active' : ''}
              = link_to 'Featured Charity', edit_dashboard_charity_path
